<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <!-- <%= %> => display  -->
    <!-- <%  %> => execute  -->
  </head>
  <body>
    <!-- Moving between pages in Expres -->
    <a href="/">Home</a>
    <a href="/about">About</a>
    <!-- about.html bcz of static middleware we pass "public" -->
    <h1>Hello Again Express...</h1>
    <a href="/download">Download File</a>
  </body>
</html>
